header {

}

.search-div {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  padding: 10px;
  color: black;
  border-radius: 5px;
  background-color: purple;
}

input {
  width: 250px;
}
